<!-- NAV -->
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bem vindo! Criando crud para estudos.</a>
  </div>
</nav>
<!-- List -->
<div class="container">
  <div class="buttonNew">
    <button class="btn btn-success" (click)="toggle()" >Novo Produto</button>
  </div>

  <ng-container *ngIf="mostrar">
    <div>
      <div class="modalAdicionar">
        <div class="container text-center">
            <form [formGroup]="novoProdutoForm">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Digite um nome para o produto</label>
              <input formControlName="nome" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Batata...">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Descrição do produto</label>
              <textarea formControlName="descricao" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div>
              <button class="btn btn-primary" (click)="post()">Salvar Produto</button>
            </div>
          </form>
          </div>
        </div>

    </div>
    </ng-container>

  <table class="table">
    <thead>
      <h1>Lista de Produtos</h1>
      <tr>
        <th scope="col">Produto</th>
        <th scope="col">Descrição</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of lista">
        <td>{{items.nome}}</td>
        <td>{{items.descricao}}</td>
        <td>
          <button class="btn btn-primary" (click)="mostrarEdit()" (click)="editar(items)">Editar</button>

          <ng-container *ngIf="mostrarEditar">
            <div>
              <div class="modalAdicionar">
                <div class="container text-center">
                    <form [formGroup]="novoProdutoForm">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Digite um nome para o produto</label>
                      <input formControlName="nome" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Batata...">
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Descrição do produto</label>
                      <textarea formControlName="descricao" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div>
                      <button class="btn btn-primary" (click)="post()">Salvar Produto</button>
                    </div>
                  </form>
                  </div>
                </div>

            </div>
          </ng-container>

          {{''}}
          <button class="btn btn-danger" (click)="deletar()">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


